* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainHeader {
  height: 10vh;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(247, 219, 244) 50%);
  justify-content: center;
}
.mainHeader .logoContainer {
  display: none;
}
.mainHeader .navbar {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.btnCarrito {
  position: fixed;
  top: 12px;
  right: 20px;
  cursor: pointer;
  z-index: 3;
}

#btnCarrito2 {
  color: #754570;
}

.menu__box {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 100px 0;
  list-style: none;
  background-color: #f9ebf8;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  justify-content: flex-start;
  z-index: 2;
}

.menu__item {
  display: block;
  padding: 25px 70px;
  color: #333;
  font-family: "Raleway", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
  width: 100%;
  text-align: center;
}

#btnCarrito {
  color: #f9ebf8;
  background-color: #754570;
  border-radius: 10px;
  margin: 10%;
  width: 80%;
}

.menu__item:hover {
  background-color: #754570;
  color: #fff;
}

.menu__item:active {
  background-color: #F7DBF4;
  color: #754570;
}

.section1 {
  height: 100vh;
  background-image: url(../multimedia/flowers-g45ae5a556_1920.jpg);
  background-size: cover;
  background-position: center;
}

.section1TextContainer {
  display: inline-block;
  text-align: center;
  height: auto;
  width: 100%;
  padding: 25% 10%;
}
.section1TextContainer h2 {
  color: #fff;
  font-family: "Neucha", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 80px;
  text-shadow: 1px 2px 10px black;
}
.section1TextContainer p {
  color: #fff;
  font-family: "Raleway", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: -1px 0 10px black, 0 1px 10px black, 1px 0 10px black, 0 -1px 10px black;
  font-size: 25px;
  padding: 50% 0 0 0;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#testing {
  min-height: 100vh;
}

#section2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
}

.barraHerramientas {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  background: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(247, 219, 244) 50%);
  width: 100%;
  height: auto;
  font-family: "Raleway", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
  color: #754570;
}
.barraHerramientas h2 {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #754570;
  border-bottom: 1px solid #754570;
}
.barraHerramientas h3 {
  padding: 20px;
}
.barraHerramientas .formDiv {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2px 20px;
}
.barraHerramientas .btnAgregar, .barraHerramientas #eliminar {
  border: 0;
  border-radius: 5px;
  width: 50%;
  align-self: center;
  margin: 20px;
  height: 40px;
  background-color: #754570;
  color: #fff;
  transition: 0.25s;
}
.barraHerramientas .btnAgregar:active, .barraHerramientas #eliminar:active {
  background-color: #795c76;
}
.barraHerramientas .btnAgregar:hover, .barraHerramientas #eliminar:hover {
  opacity: 0.8;
}

::-moz-placeholder {
  color: #754570;
  opacity: 0.7;
}

:-ms-input-placeholder {
  color: #754570;
  opacity: 0.7;
}

::placeholder {
  color: #754570;
  opacity: 0.7;
}

input {
  color: #754570;
}

input:focus {
  outline-color: #754570;
  font-weight: 600;
}

.divTitulo, .divEliminar {
  border-top: 1px solid #754570;
}

.divBuscar, .divOrdenar {
  border-bottom: 1px solid #754570;
}

.divBuscar {
  display: flex;
  padding: 5%;
  align-items: center;
  justify-content: center;
}
.divBuscar h3 {
  margin: 0;
  padding: 0 10% 0 0;
}
.divBuscar #buscador {
  height: auto;
  width: 50%;
}

.divOrdenar {
  display: flex;
  flex-direction: column;
}

#resultadoTextoOrdenar {
  text-align: center;
  margin: 0;
  padding: 2%;
}

.divTitulo {
  text-align: center;
}

.divBotones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.divEliminar {
  display: flex;
  flex-direction: column;
}

.btnOrdenar {
  border: 0;
  border-radius: 5px;
  width: 90%;
  align-self: center;
  height: 40px;
  background-color: #754570;
  color: #fff;
  font-size: 12px;
  transition: 0.25s;
}

.btnOrdenar:active {
  background-color: #795c76;
}

.btnOrdenar:hover {
  opacity: 0.8;
}

.card {
  width: 80%;
  font-family: "Raleway", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  z-index: 1;
}
.card img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card .card-body h4 {
  text-align: center;
  padding: 5px;
  margin: 0;
}
.card .card-body p {
  text-align: center;
  padding: 5px;
  margin: 0;
}
.card .card-body button {
  align-self: center;
  margin: 5px;
}

#divCompra {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 800;
  color: rgb(82, 80, 80);
  border: 1px solid #754570;
}
#divCompra p {
  margin: 0;
}

.section3 {
  height: 50vh;
}
.section3 h2 {
  text-align: center;
}

footer {
  background: rgb(255, 255, 255);
  background: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(247, 219, 244) 50%);
  text-align: center;
}

.icons {
  padding: 3%;
}
.icons a {
  padding: 2%;
}

.footerTexto {
  padding: 3%;
}

.up {
  height: 60px;
  width: 60px;
  background-color: #754570;
  position: fixed;
  bottom: 120px;
  right: 50px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #F7DBF4;
  font-size: 18px;
  z-index: 3;
  display: none;
  opacity: 0.95;
}

.up:hover {
  color: #F7DBF4;
}

.up2 {
  bottom: 330px;
}

.up3 {
  bottom: 260px;
}

.up4 {
  bottom: 190px;
}

.up5 {
  bottom: 50px;
}

#contactoSection2 {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #754570;
}
#contactoSection2 h2::before {
  content: "<  ";
  opacity: 0;
  transition: 0.5s;
}
#contactoSection2 h2::after {
  content: "  />";
  opacity: 0;
  transition: 0.5s;
}
#contactoSection2 h2:hover::before, #contactoSection2 h2:hover::after {
  opacity: 100;
}
#contactoSection2 a img {
  transition: 0.5s;
}
#contactoSection2 a:hover img {
  transform: scale(1.05);
}

@media only screen and (min-width: 769px) {
  .hamburger-menu {
    display: none;
  }
  .mainHeader {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(247, 219, 244) 50%);
    justify-content: flex-start;
  }
  .mainHeader .logoContainer {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
  }
  .mainHeader .logoContainer p {
    font-family: "Neucha", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0;
    font-weight: 800;
    color: #754570;
    letter-spacing: 3px;
  }
  .mainHeader .navbarContainer {
    display: flex;
    width: 75%;
    height: 100%;
  }
  .mainHeader .navbarContainer .navbar {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 0 0 50%;
  }
  .mainHeader .navbarContainer .navbar ul {
    display: grid;
    width: 100%;
    height: 80%;
    height: auto;
    margin: 0 20px 0 20px;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .mainHeader .navbarContainer .navbar ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: "Raleway", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 700;
  }
  .mainHeader .navbarContainer .navbar ul li #btnCarrito3 {
    color: #754570;
    border: none;
    width: 100%;
    height: 100%;
  }
  .mainHeader .navbarContainer .navbar ul li #btnCarrito3 i {
    font-size: 18px;
  }
  .mainHeader .navbarContainer .navbar ul li #btnCarrito3:hover {
    background-color: #754570;
    color: #F7DBF4;
  }
  .mainHeader .navbarContainer .navbar ul li a {
    color: #754570;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10% 0 10% 0;
    transition: 0.5s;
    border-radius: 5px;
  }
  .mainHeader .navbarContainer .navbar ul li a:hover {
    background-color: #754570;
    color: #F7DBF4;
  }
  .section1TextContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  .section1TextContainer h2 {
    margin: 0;
  }
  .section1TextContainer p {
    padding: 0 0 0 0;
  }
  .barraHerramientas {
    padding: 0 20% 2% 20%;
  }
  .up {
    display: block;
  }
  footer {
    padding: 2%;
  }
  .icons {
    padding: 1%;
  }
  .icons a {
    padding: 0.5%;
  }
  .footerTexto {
    padding: 0.5%;
  }
  #contactoSection2 {
    min-height: 72vh;
  }
}/*# sourceMappingURL=styles.css.map */