* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// PALETA DE COLORES

$color1: #754570;
$color2: #F7DBF4;
$color3: #F590EB;
$color4: #756874;
$color5: #C272BA;
$color6: #fff;
$color7: rgb(82, 80, 80);
$color8: #f9ebf8;
$title: 'Neucha', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$text: 'Raleway','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

@mixin gradient1() {
    background: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(247, 219, 244, 1) 50%);
}

@mixin gradient2(){
    background: rgb(255,255,255);
    background: linear-gradient(79deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
}

// HOME

.mainHeader {
    height: 10vh;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include gradient1;
    justify-content: center;
    .logoContainer{
        display: none;
    }
    .navbar{
        display: none;
    }
}


//HAMBURGUER MENU

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.btnCarrito{
    position: fixed;
    top: 12px;
    right: 20px;
    cursor: pointer;
    z-index: 3;
}

#btnCarrito2{
    color: #754570;
}

.menu__box {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 100px 0;
    list-style: none;
    background-color: $color8;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    justify-content: flex-start;
    z-index: 2;
}

.menu__item {
    display: block;
    padding: 25px 70px;
    color: #333;
    font-family: $text;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    width: 100%;
    text-align: center;
}

#btnCarrito{
    color: $color8;
    background-color: #754570;
    border-radius: 10px;
    margin: 10%;
    width: 80%;
}

.menu__item:hover {
    background-color: $color1;
    color: $color6;
}

.menu__item:active {
    background-color: $color2;
    color: $color1;
}



//TERMINA HAMBURGUER

//Seccion1

.section1 {
    height: 100vh;
    background-image: url(../multimedia/flowers-g45ae5a556_1920.jpg);
    background-size: cover;
    background-position: center;
}

.section1TextContainer {
    display: inline-block;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 25% 10%;
    h2{
        color: $color6;
        font-family: $title;
        font-size: 80px;
        text-shadow: 1px 2px 10px black;
    }
    p{
        color: $color6;
        font-family: $text;
        text-shadow: -1px 0 10px black, 0 1px 10px black, 1px 0 10px black, 0 -1px 10px black;
        font-size: 25px;
        padding: 50% 0 0 0;
    }
}

//Termina seccion1

//Seccion2

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#testing{
    min-height: 100vh;
}

#section2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    min-height: 100vh;
}

.barraHerramientas{
    display: flex;
    flex-direction: column;
    @include gradient1;
    width: 100%;
    height: auto;
    font-family: $text;
    margin: 0;
    padding: 20px;
    color: $color1;
    h2{
        text-align: center;
        padding: 20px;
        border-top: 1px solid $color1;
        border-bottom: 1px solid $color1;
    }
    
    h3{
        padding: 20px;
    }

    .formDiv{
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 2px 20px;
    }
    .btnAgregar{
        border: 0;
        border-radius: 5px;
        width: 50%;
        align-self: center;
        margin: 20px;
        height: 40px;
        background-color: $color1;
        color:$color6;
        transition: 0.25s;
    }

    .btnAgregar:active{
        background-color: #795c76;
    }

    .btnAgregar:hover{
        opacity: 0.8;
    }
}


::placeholder{
    color: $color1;
    opacity: 0.7;
}

input{
    color: $color1;
}

input:focus{
    outline-color: $color1;
    font-weight: 600;
}

.divTitulo, .divEliminar{
    border-top: 1px solid $color1;
}

.divBuscar, .divOrdenar{
    border-bottom: 1px solid $color1;
}

.divBuscar{
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: center;
    h3{
        margin: 0;
        padding: 0 10% 0 0;
    }
    #buscador{
        height: auto;
        width: 50%;
    }
}

.divOrdenar{
    display: flex;
    flex-direction: column;
}

#resultadoTextoOrdenar{
    text-align: center;
    margin: 0;
    padding: 2%;
}

.divTitulo{
    text-align: center;
}

.divBotones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.divEliminar{
    display: flex;
    flex-direction: column;
}

#eliminar{
    @extend .btnAgregar;
}

.btnOrdenar{
    border: 0;
    border-radius: 5px;
    width: 90%;
    align-self: center;
    height: 40px;
    background-color: $color1;
    color:$color6;
    font-size: 12px;
    transition: 0.25s;
}

.btnOrdenar:active{
    background-color: #795c76;
}

.btnOrdenar:hover{
    opacity: 0.8;
}


.card{
    width: 80%;
    font-family: $text;
    z-index: 1;

    img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4{
            text-align: center;
            padding: 5px;
            margin: 0;
        }
        p{
            text-align: center;
            padding: 5px;
            margin: 0;
        }
        button{
            align-self: center;
            margin: 5px;
        }
    }
}

#divCompra{
display: flex;
align-items: center;
justify-content: center;
font-family: $text;
font-weight: 800;
color: $color7;
border: 1px solid $color1;
    p{
        margin: 0;
    }
}
//Termina seccion2

//Seccion3
.section3 {
    height: 50vh;
    h2 {
        text-align: center;
    }
}

//Termina Seccion3

//Footer

footer {
    @include gradient1;
    text-align: center;
}

.icons{
    padding: 3%;
    a{
        padding: 2%;
    }
}

.footerTexto{
    padding: 3%;
}

.up {
    height: 60px;
    width: 60px;
    background-color: $color1;
    position: fixed;
    bottom: 120px;
    right: 50px;
    text-align: center;
    line-height: 60px;
    color: $color6;
    border-radius: 50%;
    border: 2px solid $color2;
    font-size: 18px;
    z-index: 3;
    display: none;
    opacity: 0.95;
}

.up:hover{
    color: $color2;
}

.up2{
    bottom: 330px
}

.up3{
    bottom: 260px
}

.up4{
    bottom: 190px
}

.up5{
    bottom: 50px
}

//Termina Footer

//------------------------------Pagina Contacto--------------------------

#contactoSection2{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color1;
    h2::before{
        content: "<  ";
        opacity: 0;
        transition: 0.5s;
    }
    h2::after{
        content: "  />";
        opacity: 0;
        transition: 0.5s;
    }
    h2:hover::before, h2:hover::after{
        opacity: 100;
    }

    a img{
        transition: 0.5s;
    }
    a:hover img{
        transform: scale(1.05);
    }
}

//media querys

@media only screen and (min-width: 769px){

    .hamburger-menu{
        display: none;
    }

    .mainHeader {
        height: 10vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include gradient1;
        justify-content: flex-start;
        .logoContainer{
            display: flex;
            width: 25%;
            align-items: center;
            justify-content: center;
            p{
                font-family: $title;
                font-size: 20px;
                margin: 0;
                font-weight: 800;
                color: $color1;
                letter-spacing: 3px;
            }
        }
        .navbarContainer{
            display: flex;
            width: 75%;
            height: 100%;
            .navbar{
                display: flex;
                width: 100%;
                height: 100%;
                padding: 0 0 0 50%;
                ul{
                    display: grid;
                    width: 100%;
                    height: 80%;
                    height: auto;
                    margin: 0 20px 0 20px;
                    padding: 0;
                    grid-template-columns: 1fr 1fr 1fr;
                    li{
                        list-style: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        font-family: $text;
                        font-weight: 700;
                        #btnCarrito3{
                            color: $color1;
                            border: none;
                            width: 100%;
                            height: 100%;
                            i{
                                font-size: 18px;
                            }
                        }
                        #btnCarrito3:hover{
                            background-color: $color1;
                            color: $color2;
                        }
                        a{ 
                            color:$color1;
                            text-decoration: none;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            padding: 10% 0 10% 0;
                            transition: 0.5s;
                            border-radius: 5px;
                        }
                        a:hover{
                            background-color: $color1;
                            color: $color2;
                        }
                    }
                }
            }
        }
    }

    .section1TextContainer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: center;
        h2{
            margin: 0;
        }
        p{
            padding: 0 0 0 0;
        }
    }
    .barraHerramientas{
        padding: 0 20% 2% 20%;
    }

    .up{
        display: block;
    }


footer{
    padding: 2%;
}


.icons{
    padding: 1%;
    a{
        padding: 0.5%;
    }
}

.footerTexto{
    padding: 0.5%;
}

#contactoSection2{
    min-height: 72vh;
}

}